#header{
    position: relative;
    width: 90%;
    margin:auto;
    height: 125px;
    background-repeat: repeat-x;
    background-color: #ffffff;
    background-image: url(/resources-equations/images/menu/header.png);
    background-position: right;
}
#main_menu_left{
    float: left;
    width: 100%;
    color:#ffffff;
    background-color: #000000;
    margin-bottom: 10px;
}
#main_menu_left a {
    color: #ffffff;
    font-size: 0.8em;
    border-bottom-style: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0.7em;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #003333;
}

#main_menu_left a:link {
    color: #ffffff;
    font-size: 0.8em;
    border-bottom-style: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0.7em;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #003333;

}
#main_menu_left a:hover {
    text-decoration: underline;
}

#main_menu_left a:visited {
    color: #ffffff;
    font-size: 0.8em;
    border-bottom-style: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0.7em;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #003333;
}

#main_menu_right{
    float: right;
    clear: none;
    padding: 0px;
    padding-top: 40px;
    width: 500px;
    height: 70px;
    background-image: url(/resources-equations/images/menu/search_bak.png);
    background-repeat: no-repeat;
    margin-top: 12px;
}

#main_menu_right input{
    margin-left: 30px;
    font-size: 0.8em;
    color: #000000;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    float:none;
    clear: both;
    margin-right: auto;
    position: relative;
}

#main_menu_right .search_right {

}
#main_menu_right .round_button {
    background-color: #666666;
    padding: 2px;
    background-position: center center;
    border: 1px groove #999999;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    color: #DBDCF3;
    text-transform: uppercase;
}
#main_menu_right .round_textbox {
    background-color: #333333;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    color: #ffffff;
    padding-top: 4px;
    padding-right: 6px;
    padding-bottom: 4px;
    padding-left: 6px;
}

#main_menu_left a  img {
    float: left;
    height: 25px;
    width: 25px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-right: 2px;
}
.active {/*TODO: change this change*/
    background-image: url(../resources/images/page_level/h3_bak.png);
}

#main_menu_left img{
}#main_logo {
    height: 120px;
    background-image: url(../resources/images/logos/logo1.png);
    width: 305px;
    background-repeat: no-repeat;
    float: left;
    margin-top: 3px;
    margin-left: 10px;
}
